<nav class="fixed bg-white-300 h-10 w-full top-0 flex items-center bg-white border-b border-gray-300 z-50">
  <div class="flex items-center w-full">
    <div class="flex items-center">
      <a href="#">
        <span class="text-lg text-yellow-700 font-bold pl-2">Rohile</span>
        <span class="text-gray-900 font-bold text-xl pl-1 ">CRM</span>

      </a>

      <div class="flex items-center justify-center flex-grow">
        <div>
          <i class="bi bi-search absolute left-[220px] top-2 text-gray-400"></i>
          <input type="text" placeholder="Search"
            class="h-8 w-80 px-4 py-2 rounded-md text-gray-900 ml-24  border border-gray-300 pl-[40px] ">
        </div>

      </div>
    </div>

  </div>
  <div class="flex items-center ml-4">
    <!-- <i class="bi bi-bell text-xl text-gray-700"></i> -->
    <img src="https://img.icons8.com/?size=100&id=2SMMY5eyQZOE&format=png&color=000000" alt="bell" class="h-[22px] w-[22px]">
  </div>

  <div class="px-8 flex justify-center items-center">
    <img src="https://img.icons8.com/?size=100&id=8H3RoQrvhfs3&format=png&color=000000" alt="flag"
      class="w-[20px] h-[20px]">
    <select id="languageSelect" name="language">
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="hi">Hindi</option>
      <option value="hi">Tulu</option>
    </select>
  </div>
  <div class="flex items-center ">
    <img
      src="https://images.pexels.com/photos/103123/pexels-photo-103123.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Profile Pic" class="rounded-full h-8 w-8">
    <!-- <span class="text-black px-4 text-sm font-bold ">John Doe</span> -->
    <select id="languageSelect" name="language" class="mr-10 font-semibold pl-1">
      <option value="en">John Doe</option>
      <option value="fr">Sachin</option>
      <option value="hi">Guru</option>
    </select>
  </div>
</nav>