/* .echart {
    width: 525px;
    height: 300px; 
  } */

  /* table {
    width: 100%;
  } */


  /* ::ng-deep .mat-header-cell {
    background-color: #3B82F6 !important;
    color: white !important;
} */

  