/* .echart {
    width: 525px;
    height: 300px; 
  } */

  /* table {
    width: 100%;
  } */


  /* ::ng-deep .mat-header-cell {
    background-color: #3B82F6 !important;
    color: white !important;
} */

/* .chart-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.chart-container {
  width: 100%;
  margin: 20px auto;
  height: 400px; /* Adjust the height as needed */
}


  